body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #FFF2D6;
}

div {
    margin: 10px;
}

h1 {
    font-size: 36px;
    color: #38B2CE;
}

li {
     margin: 10px;
}

.nav-link {
    margin: 15px;
    background-color: #60B9CE;
    color: #f4f4f4;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

button {
    margin: 20px;
}

.image{
    height: 50px;
}

.image-title{
display: block;
      margin: 0 auto;
    height: 20px;
}

.country{
    font-size: 14px;
}

.hidden{
    display: none;
    margin: 0;
}

.upload{
border: 1px solid #007bff;
padding: 5px;
}
