{% extends  'base.html' %}
{% load mysite_extras%}

{% block page_title%}List of countries{% endblock %}
{% block extra_styles%}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <h1>Choose your country</h1>
</div>

{% for country in list_counries %}
<ul>
    <li>
        <div class="row">
            <a class="col-3 nav-link" href="{% url 'detail_counries' country.id %}">{{ country.name }}</a>
            <img class="col-1  image" src="{{ country.flag.image.url }}" alt="">
            <div class="col-1">
            </div>
            <a class="col-2 nav-link" href="{% url 'edit_country' country.id %}">Edit country</a>
        </div>
        <div class="row country">
            {{ country.description|slice:300 }}
            <div class="hidden" id="{{country.id}}">{{ country.description|after_slice:300 }}</div>
            <input type="button" value=" ... " onclick="show{{country.id}}()">
        </div>
    </li>
</ul>
{% endfor %}
<div class="row justify-content-left">
    <a class="col-4 nav-link" href="{% url 'add_country' '_country' %}">Add Country</a>
</div>

{% endblock %}
{% block extra_scripts %}
<script>
{% for country in list_counries %}
    function show{{ country.id }}() { document.getElementById("{{ country.id }}").style.display="block" }
{% endfor %}






</script>

{% endblock %}